version: '3'

services:
    nginx:
        image: nginx:1.19.0-alpine
        volumes:
            - ./nowme-backend/public:/var/www/symfony/public:cached
            - ./default.conf:/etc/nginx/conf.d/default.conf:ro
        ports:
            - 8000:80
        depends_on:
            - php
    
    php:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - ./nowme-backend:/var/www/symfony:cached