version: '3'

services:
    nginx:
        image: nginx:1.19.0-alpine
        volumes:
            - ./nowme-backend/public:/var/www/symfony/public:cached
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        ports:
            - 8000:80
        depends_on:
            - php
    
    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        volumes:
            - ./nowme-backend:/var/www/symfony:cached

    mysql:
        image: mysql:8.0.23
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: app

    node:
        build:
            context: .
            dockerfile: docker/node/Dockerfile
        volumes:
            - ./nowme-frontend:/var/www/react:cached
        ports:
            - 3000:3000