framework:
  messenger:
    failure_transport: failed
    default_bus: command.bus

    buses:
      command.bus:
        middleware:
          - doctrine_transaction

    transports:
      failed: 'doctrine://default?queue_name=failed&auto_setup=false'
      sync: 'sync://'

    routing:
      '*': sync
