framework:
    notifier:
        texter_transports:
            smsapi: '%env(SMSAPI_DSN)%'
        channel_policy:
            urgent: ['email']
            high: ['email']
            medium: ['email']
            low: ['email']
        admin_recipients:
            - { email: admin@example.com }
